:root{
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-Bold.ttf);
    font-weight: bold;
}

body{
    display: flex;
    background-color: var(--Light-grey);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

#container{
    
    justify-content: center;
    display: block;
    top: 30%;
    position: absolute;
    background-color: var(--White);
    width: 90%;
    max-width: 600px;
    border-radius: 20px 20px 80px 20px;

}

label{
    display: block;
}

#input{
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 24px;
    padding: 10px;
    border: 1px solid var(--Light-grey);
}

.attribution{
    position: absolute;
    bottom: 2%;
}

.year{width: 10%;}

#button{
    background-color: var(--Purple);
    border-radius: 50%;

}